<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 상세보기</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>사용자 상세 정보</h1>
<div id="user-detail-container"></div>
<script>
    const Api = new URLSearchParams(window.location.search)
    const userId = Api.get("id");
    console.log("userId:" + userId);
    console.log("api:" + Api);
    $.ajax({
        url: `/api/user/${userId}`,
        method:"GET",
        success:
            function (data){
                $("#user-detail-container").html(`
                    <p>이메일: ${data.email}</p>
                    <p>닉네임: ${data.username}</p>
                    <p>비밀번호: ${data.password}</p>
                    <p>이름: ${data.firstname}</p>
                    <p>성: ${data.lastname}</p>
                    <p>전화번호: ${data.phone}</p>
                    <p>사는 곳: ${data.city}</p>
                    <p>도로: ${data.street}</p>
                    <p>도로 번호: ${data.streetNumber}</p>
                    <p>우편번호: ${data.zipcode}</p>
                `)
            },
        error:
            function (){
                $("#user-detail-container").html(`
                    <p>데이터를 불러오는데 실패했습니다.</p>
                `)
            }
    })
</script>
</body>
</html>